<div style="margin-top: -105px">

    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-hdd-fill"></i>
            <h3>Back-end</h3>
            <p>
                Desarrollo de soluciones backend para ser integrados sobre la plataforma de Unity
                ya sea dentro del producto o que se alimente externamente del producto.
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                ASP.NET Core, Flask, Django, MySQL, SQL Server
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>API REST</li>
                <li>Montaje de Servidores</li>
                <li>Web APIs</li>
                <li>Entornos con Firebase</li>
                <li>Principios SOLID</li>
            </ul>

        </div>

        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-code-slash"></i>
            <h3>Investigación y Desarrollo</h3>
            <p>
                Tambien puedo liderar la investigacion y el desarrollo de prototipos de soluciones
                dentro de Unity 3D
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                Unity3D, Android, Arduino
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>Plugins Nativos</li>
                <li>Desarrollo Arduino</li>
                <li>Realidad Mixta</li>
                <li>Realidad Virtual</li>
                <li>Comunicacion Serial</li>
            </ul>
        </div>
    </div>
</div>