<div class="text-center">
    <h1 class="display-4">Soy Sergio Reyes</h1>
    <h2>Soy un Ingeniero Multimedia especializado en el desarrollo backend.</h2>
    <img id="foto" src="~/images/perfil.jpg" alt="Foto de Memo" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 welcome-section">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            ¡Hola! Soy un Ingeniero Multimedia especializado en investigación y desarrollo dentro de la plataforma de Unity 3D.
            Mi enfoque principal se centra en la integración de herramientas y tecnologías externas en proyectos basados en esta
            plataforma. Entre mis logros se encuentran exitosas integraciones de Arduino y Unity mediante comunicación Serial,
            implementaciones de backend y desarrollo de plugins para aprovechar funciones nativas de Android.
        </p>
    </div>
</div>

